<div ng-init="ctrl.init()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chosen-localytics/1.4.0/angular-chosen.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6 text-right">
                <h3>CMS2视频说明</h3>
                <p>包含了CMS2的常用操作和操作事项。</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        通知栏
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">{{ctrl.searchInfo.name}}
                                <select class="form-control" chosen ng-model="ctrl.searchInfo.name"
                                        ng-options="item.value as item.key for item in ctrl.options">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="td-col-s text-center">#</th>
                                <th class="td-col-l">视频名</th>
                                <th class="td-col-l">摘述</th>
                                <th class="td-col-l">链接</th>
                                <th class="td-col-l text-center">更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="entity in ctrl.resource">
                                <td class="td-col-s text-center">{{entity.$index}}</td>
                                <td class="td-col-l">{{entity.name}}</td>
                                <td class="td-col-l">{{entity.description}}</td>
                                <td class="td-col-l">
                                    <a ng-href="{{entity.url}}" target="_blank">{{entity.url}}</a>
                                </td>
                                <td class="td-col-l text-center">{{entity.updateTime}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>